@font-face {
    font-family: damile;
    src: url(./assets/fonts/Poppins-ExtraBold.ttf);
}



.navbar{
height: 10vh;
display: flex;
justify-content: space-between;
align-items: center;
background-color:rgb(222, 190, 199);
font-weight: bold;
padding: 10px 5% 10px 5%;
}

.navbar h1{
    color: rgb(60, 37, 92);
    font-size: 1.8rem;
}

.navbar ul li{
    display: inline-block;
    padding: 0px 20px;
}

.navbar ul li a{
    text-decoration: none;
    color: rgb(60, 37, 92);
    font-size: 1.2rem;
}


.navbar ul li a:hover{
    color: crimson;
}


.tex-center{
text-align: center;
justify-content: center;


}

.footer{
    background-color: rgb(222, 190, 199);
    grid-area: footer;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.footer a{
    display: inline-block;
    margin: 0 7px 0 7px;
}

.footer a i{
    display: inline-block;
    border-radius: 50%;
}

.footer a i:hover{
    box-shadow: 0px 0px 15px rgb(222, 190, 199);
}

.fa-brands{
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
    background-size: cover;
}

.contactenos {
width: 100vh;
align-items: center;
justify-content: center;
margin-inline: auto;
margin: auto;
color: rgb(25, 25, 27);
}




@media screen and (min-width: 600px) {
    .border a ul li, .border a,.footer,.banner-3,.body{
        display:flex;
        width: 100%;
  
  
  
      }
    }